/* Valores globales */

body {
  background-color: #2a2d30;
}

body p {
  font-size: 1.20rem;
}

/* -- navbar flex --*/

.navigation-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 100%;
  height: 100%
}

.left-side {
  width: 18%;
}

.middle-side {
  width: 52%;
  margin-top: 1.5rem;
}

.right-side {
  width: 30%;
  margin-top: 1rem;

  text-align: end;
}

.middle-side ul li{
  font-size: 1.23rem;

  display: inline-block;
  padding: 0 1.5rem;
}

.middle-side a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.middle-side a:hover {
  opacity: 0.7;
}

.right-side ul li {
  font-size: 1.23rem;

  display: inline-block;
  padding: 0 1.5rem;
}

.right-side a {
  color: white;
  text-decoration: none;
  background-color: blueviolet;
  padding: .7rem;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(178, 31, 252, 0.7);
  transition: 0.3s;
}

.right-side a:hover{
  background-color: rgb(255, 166, 0);
  transform: scale(1.2);
  display: inline-block;
}



/* Propiedades del logo */

.logo {
  width: 70px;
  height: 55px;

  margin: 0 1rem 0 5px;
}

.logo-letters {
  width: 140px;
  height: 50px;
}

/* Cheers box along with the carousel*/

.cheers-box {
  width: 50%;
  height: 650px;

  position: relative;
  background-color: rgba(54, 54, 54, 0.8);
  bottom: 670px;
  box-shadow: 16px 2px 32px 5px rgba(54, 54, 54, 0.75);

  text-align: center;
}

/* Grid menú bebidas */
.cheers-menu-box{
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url("/img/Bar3.jpg");

}
.cheers-submenu-box{
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url("/img/Bar3.jpg");
  opacity: 0.5;
}

@media screen and (min-width:540px) and (max-width: 999px) {
  .grid{
    display: grid;
    grid-auto-flow: column;
  }
  .grid .element{
    height: 100%;
    border-radius: 12px;
  }

  .grid.colums-3{
    grid-gap:1rem;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: unset;
    margin: 0rem 1.2rem 0rem 1.2rem;
  }
}

@media screen and (min-width:998px)  {
  .grid{
    display: grid;
    grid-auto-flow: column;
  }
  .grid .element{
    height: 100%;
  }

  .grid.colums-3{
    grid-gap:1rem;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: unset;

  }
}
.mb-4{
  margin-bottom:2.5rem !important; 
  font-size: 1.1rem !important;
}
.mt-6{
  margin-top: 10rem;
}
.card-text{
  margin: 0 1rem 0 1rem !important;
}

.content {
  margin: 1.5rem;
  padding: 5rem;
}

.cheers-box {
  color: white;
}

.paragraph {
  margin: 2.6rem 0;
}

.buttons {
  margin-right: 2rem;
}
.buttons-menu{
  text-align: center;
}

.buttons-menu a{
  text-align: center;
  display: inline-block;
  color: white;
  text-decoration: none;
  background-color: blueviolet;
  padding: .7rem;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(178, 31, 252, 0.7);
  transition: 0.3s;
}
.buttons-menu a:hover{
  color: rgb(255, 166, 0);
  transform: scale(1.1);
}

.buttons ul li {
  font-size: 1.23rem;

  display: inline-block;
  padding: 0 1rem;
}

.buttons a {
  color: white;
  text-decoration: none;
  background-color: blueviolet;
  padding: .7rem;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(178, 31, 252, 0.7);
  transition: 0.3s;
}

.buttons a:hover{
  display: inline-block;
  background-color: rgb(255, 166, 0);
  transform: scale(1.2);
}


/*Estilos formulario en contacto.html*/
h4{
  text-align: center;
}

.contenedor-formulario{
  width: 400px;
  margin: 100px;
  background-color :white;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.titulo-formulario{
  background-color: antiquewhite;
  display: inline;
}

label{
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}



